# dependencies
node_modules

# build output
/dist
apps/*/dist
.turbo/
.next/

# typescript
*.tsbuildinfo

# playwright
test-results/
playwright-report/
tooling/snapshot/out/

# misc
.DS_Store
*.log
.env*
!.env.example
